#s-193ae028-6f59-4f1e-bc7d-256dc234d694 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-193ae028-6f59-4f1e-bc7d-256dc234d694 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 360px;
  min-width: 360px;
  min-height: 640px;
}
#s-193ae028-6f59-4f1e-bc7d-256dc234d694 #s-Inbox-screen {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 593px;
}
#s-193ae028-6f59-4f1e-bc7d-256dc234d694 #s-Contactlist-header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 80px;
}
#s-193ae028-6f59-4f1e-bc7d-256dc234d694 #s-Contact-bar-color {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 80px;
}
#s-193ae028-6f59-4f1e-bc7d-256dc234d694 #s-Label_31 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 40px;
  padding-left: 73px;
  width: 287px;
  height: 40px;
  background-color: #02BBD2;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: -3px 0px 4px 0px #A0A0A0;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 16.0pt;
  line-height: 16.0pt;
}
#s-193ae028-6f59-4f1e-bc7d-256dc234d694 #s-Label_31 .valign {
  vertical-align: top;
}
#s-193ae028-6f59-4f1e-bc7d-256dc234d694 #s-Label_32 {
  position: absolute;
  top: 38px;
  left: 22px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #027388;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 19.0pt;
}
#s-193ae028-6f59-4f1e-bc7d-256dc234d694 #s-Label_32 .valign {
  vertical-align: middle;
}
#s-193ae028-6f59-4f1e-bc7d-256dc234d694 #s-Statusbar_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 20px;
}
#s-193ae028-6f59-4f1e-bc7d-256dc234d694 #s-Dynamic_Panel_4 {
  position: absolute;
  top: 0px;
  left: 0px;
}
#s-193ae028-6f59-4f1e-bc7d-256dc234d694 #s-Panel_5 {
  width: 360px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-193ae028-6f59-4f1e-bc7d-256dc234d694 #s-Panel_5 .verticalalign {
  vertical-align: top;
}
#s-193ae028-6f59-4f1e-bc7d-256dc234d694 #s-Icons_6 {
  width: 61px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-193ae028-6f59-4f1e-bc7d-256dc234d694 #s-Label_35 {
  padding-right: 5px;
  width: 41px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 9.0pt;
  line-height: 9.0pt;
}
#s-193ae028-6f59-4f1e-bc7d-256dc234d694 #s-Label_35 .valign {
  vertical-align: middle;
}
#s-193ae028-6f59-4f1e-bc7d-256dc234d694 #s-Rectangle_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-right: 8px;
  width: 352px;
  height: 20px;
  background-color: #000000;
  background-image: none;
  opacity: 0.15;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Light,Arial;
}
#s-193ae028-6f59-4f1e-bc7d-256dc234d694 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-193ae028-6f59-4f1e-bc7d-256dc234d694 #s-Rectangle_2 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
}
#s-193ae028-6f59-4f1e-bc7d-256dc234d694 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-193ae028-6f59-4f1e-bc7d-256dc234d694 #s-inbox-dinamicpanel {
  position: absolute;
  top: 79px;
  left: 0px;
}
#s-193ae028-6f59-4f1e-bc7d-256dc234d694 #s-Panel_2 {
  width: 360px;
  height: 514px;
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: auto;
}
#s-193ae028-6f59-4f1e-bc7d-256dc234d694 #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-193ae028-6f59-4f1e-bc7d-256dc234d694 #s-Contacts-list-item {
  width: 360px;
  height: 61px;
}
#s-193ae028-6f59-4f1e-bc7d-256dc234d694 #s-Rectangle {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 20px;
  padding-left: 95px;
  width: 265px;
  height: 41px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-193ae028-6f59-4f1e-bc7d-256dc234d694 #s-Rectangle .valign {
  vertical-align: top;
  text-align: left;
}
#s-193ae028-6f59-4f1e-bc7d-256dc234d694 #s-Rectangle span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-193ae028-6f59-4f1e-bc7d-256dc234d694 #s-Rectangle span#rtr-s-Rectangle_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-193ae028-6f59-4f1e-bc7d-256dc234d694 #s-Picture {
  position: absolute;
  top: 8px;
  left: 46px;
  width: 45px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-193ae028-6f59-4f1e-bc7d-256dc234d694 #s-Star {
  position: absolute;
  top: 19px;
  left: 15px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FC4482;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 17.0pt;
}
#s-193ae028-6f59-4f1e-bc7d-256dc234d694 #s-Star .valign {
  vertical-align: middle;
}
#s-193ae028-6f59-4f1e-bc7d-256dc234d694 #s-Contacts-list-item_1 {
  width: 360px;
  height: 61px;
}
#s-193ae028-6f59-4f1e-bc7d-256dc234d694 #s-Rectangle_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 20px;
  padding-left: 95px;
  width: 265px;
  height: 41px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-193ae028-6f59-4f1e-bc7d-256dc234d694 #s-Rectangle_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-193ae028-6f59-4f1e-bc7d-256dc234d694 #s-Rectangle_1 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-193ae028-6f59-4f1e-bc7d-256dc234d694 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-193ae028-6f59-4f1e-bc7d-256dc234d694 #s-Picture_1 {
  position: absolute;
  top: 8px;
  left: 46px;
  width: 45px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-193ae028-6f59-4f1e-bc7d-256dc234d694 #s-Star_1 {
  position: absolute;
  top: 19px;
  left: 15px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FC4482;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 17.0pt;
}
#s-193ae028-6f59-4f1e-bc7d-256dc234d694 #s-Star_1 .valign {
  vertical-align: middle;
}
#s-193ae028-6f59-4f1e-bc7d-256dc234d694 #s-Contacts-list-item_2 {
  width: 360px;
  height: 61px;
}
#s-193ae028-6f59-4f1e-bc7d-256dc234d694 #s-Rectangle_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 20px;
  padding-left: 95px;
  width: 265px;
  height: 41px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-193ae028-6f59-4f1e-bc7d-256dc234d694 #s-Rectangle_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-193ae028-6f59-4f1e-bc7d-256dc234d694 #s-Rectangle_3 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-193ae028-6f59-4f1e-bc7d-256dc234d694 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-193ae028-6f59-4f1e-bc7d-256dc234d694 #s-Picture_2 {
  position: absolute;
  top: 8px;
  left: 46px;
  width: 45px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-193ae028-6f59-4f1e-bc7d-256dc234d694 #s-Star_2 {
  position: absolute;
  top: 19px;
  left: 15px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FC4482;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 17.0pt;
}
#s-193ae028-6f59-4f1e-bc7d-256dc234d694 #s-Star_2 .valign {
  vertical-align: middle;
}
#s-193ae028-6f59-4f1e-bc7d-256dc234d694 #s-Softbar {
  position: absolute;
  top: 592px;
  left: 0px;
  width: 360px;
  height: 48px;
}
#s-193ae028-6f59-4f1e-bc7d-256dc234d694 #s-Rectangle_19 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 48px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-193ae028-6f59-4f1e-bc7d-256dc234d694 #s-Rectangle_19 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-193ae028-6f59-4f1e-bc7d-256dc234d694 #s-Rectangle_19 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-193ae028-6f59-4f1e-bc7d-256dc234d694 #s-Rectangle_19 span#rtr-s-Rectangle_19_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-193ae028-6f59-4f1e-bc7d-256dc234d694 #s-Image_8 {
  position: absolute;
  top: 9px;
  left: 263px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-193ae028-6f59-4f1e-bc7d-256dc234d694 #s-Image_23 {
  position: absolute;
  top: 9px;
  left: 161px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-193ae028-6f59-4f1e-bc7d-256dc234d694 #s-Image_24 {
  position: absolute;
  top: 9px;
  left: 63px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-193ae028-6f59-4f1e-bc7d-256dc234d694 #s-Label_3 {
  position: absolute;
  top: 40px;
  left: 310px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #7D7D7D;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
}
#s-193ae028-6f59-4f1e-bc7d-256dc234d694 #s-Label_3 .valign {
  vertical-align: middle;
}
.ui-page {
  overflow-x: hidden;
}
#s-193ae028-6f59-4f1e-bc7d-256dc234d694 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}