#s-569fef1c-c8a8-4149-88ad-ae0f77e07844 #s-Label_31 {
  -ms-transform: rotate(0.0deg);
}
#s-569fef1c-c8a8-4149-88ad-ae0f77e07844 #s-Label_32 {
  -ms-transform: rotate(0.0deg);
}
#s-569fef1c-c8a8-4149-88ad-ae0f77e07844 #s-Panel_5 > .valign {
  vertical-align: top;
}
#s-569fef1c-c8a8-4149-88ad-ae0f77e07844 #s-Icons_6 {
  -ms-transform: rotate(0.0deg);
}
#s-569fef1c-c8a8-4149-88ad-ae0f77e07844 #s-Label_35 {
  -ms-transform: rotate(0.0deg);
}
#s-569fef1c-c8a8-4149-88ad-ae0f77e07844 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-569fef1c-c8a8-4149-88ad-ae0f77e07844 #s-Panel_2 > .valign {
  vertical-align: top;
}
#s-569fef1c-c8a8-4149-88ad-ae0f77e07844 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-569fef1c-c8a8-4149-88ad-ae0f77e07844 #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-569fef1c-c8a8-4149-88ad-ae0f77e07844 #s-Panel_3 > .valign {
  vertical-align: top;
}
#s-569fef1c-c8a8-4149-88ad-ae0f77e07844 #s-Two-line-item_28 {
  -ms-transform: rotate(0.0deg);
}
#s-569fef1c-c8a8-4149-88ad-ae0f77e07844 #s-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-569fef1c-c8a8-4149-88ad-ae0f77e07844 #s-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-569fef1c-c8a8-4149-88ad-ae0f77e07844 #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-569fef1c-c8a8-4149-88ad-ae0f77e07844 #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-569fef1c-c8a8-4149-88ad-ae0f77e07844 #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-569fef1c-c8a8-4149-88ad-ae0f77e07844 #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-569fef1c-c8a8-4149-88ad-ae0f77e07844 #s-Label_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-569fef1c-c8a8-4149-88ad-ae0f77e07844 #s-Rectangle_19 {
  -ms-transform: rotate(0.0deg);
}
#s-569fef1c-c8a8-4149-88ad-ae0f77e07844 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-569fef1c-c8a8-4149-88ad-ae0f77e07844 #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-569fef1c-c8a8-4149-88ad-ae0f77e07844 #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-569fef1c-c8a8-4149-88ad-ae0f77e07844 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}