#s-6fa59add-59f9-4860-82e0-3f74076f6a60 #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fa59add-59f9-4860-82e0-3f74076f6a60 #s-Label_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fa59add-59f9-4860-82e0-3f74076f6a60 #s-Icons_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fa59add-59f9-4860-82e0-3f74076f6a60 #s-Label_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fa59add-59f9-4860-82e0-3f74076f6a60 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fa59add-59f9-4860-82e0-3f74076f6a60 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fa59add-59f9-4860-82e0-3f74076f6a60 #s-Two-line-item_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fa59add-59f9-4860-82e0-3f74076f6a60 #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fa59add-59f9-4860-82e0-3f74076f6a60 #s-Label_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fa59add-59f9-4860-82e0-3f74076f6a60 #s-Label_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fa59add-59f9-4860-82e0-3f74076f6a60 #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fa59add-59f9-4860-82e0-3f74076f6a60 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fa59add-59f9-4860-82e0-3f74076f6a60 #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fa59add-59f9-4860-82e0-3f74076f6a60 #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fa59add-59f9-4860-82e0-3f74076f6a60 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fa59add-59f9-4860-82e0-3f74076f6a60 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fa59add-59f9-4860-82e0-3f74076f6a60 #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fa59add-59f9-4860-82e0-3f74076f6a60 #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fa59add-59f9-4860-82e0-3f74076f6a60 #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fa59add-59f9-4860-82e0-3f74076f6a60 #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-6fa59add-59f9-4860-82e0-3f74076f6a60 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}