#s-f21b1a96-d7d9-460e-adc9-61a8d37bf415 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f21b1a96-d7d9-460e-adc9-61a8d37bf415 #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f21b1a96-d7d9-460e-adc9-61a8d37bf415 #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f21b1a96-d7d9-460e-adc9-61a8d37bf415 #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f21b1a96-d7d9-460e-adc9-61a8d37bf415 #s-Flat-button-light {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f21b1a96-d7d9-460e-adc9-61a8d37bf415 #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f21b1a96-d7d9-460e-adc9-61a8d37bf415 #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f21b1a96-d7d9-460e-adc9-61a8d37bf415 #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f21b1a96-d7d9-460e-adc9-61a8d37bf415 #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f21b1a96-d7d9-460e-adc9-61a8d37bf415 #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f21b1a96-d7d9-460e-adc9-61a8d37bf415 #s-Label_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f21b1a96-d7d9-460e-adc9-61a8d37bf415 #s-Icons_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f21b1a96-d7d9-460e-adc9-61a8d37bf415 #s-Label_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f21b1a96-d7d9-460e-adc9-61a8d37bf415 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f21b1a96-d7d9-460e-adc9-61a8d37bf415 #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f21b1a96-d7d9-460e-adc9-61a8d37bf415 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f21b1a96-d7d9-460e-adc9-61a8d37bf415 #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f21b1a96-d7d9-460e-adc9-61a8d37bf415 #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-f21b1a96-d7d9-460e-adc9-61a8d37bf415 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}