<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.polito.mobile.androidassignment2" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden|adjustPan"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StudentFlow.StudentProfileActivity"
            android:label="@string/title_activity_student_profile"
            android:theme="@style/ActionBarTheme" >
        </activity>
        <activity
            android:name=".CompanyFlow.ShowStudentProfileActivity"
            android:label="@string/title_activity_show_student_profile"
            android:theme="@style/ActionBarTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StudentFlow.OffersListsActivity" />
        </activity>
        <activity
            android:name=".StudentFlow.EditStudentProfileActivity"
            android:label="@string/title_activity_edit_student_profile"
            android:theme="@style/ActionBarTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StudentFlow.StudentProfileActivity" />
>
        </activity>
        <activity
            android:name=".CompanyFlow.EditCompanyProfileActivity"
            android:label="@string/title_activity_edit_company_profile"
            android:theme="@style/ActionBarTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CompanyFlow.CompanyProfileActivity" />
        </activity>
        <activity
            android:name=".StudentFlow.ShowCompanyProfileActivity"
            android:label="@string/title_activity_show_company_profile"
            android:theme="@style/ActionBarTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CompanyFlow.StudentsFavouritesActivity" />
>
        </activity>
        <activity
            android:name=".StudentFlow.CompaniesFavouritesActivity"
            android:label="@string/title_activity_companies_favourites"
            android:theme="@style/ActionBarTheme" >
        </activity>
        <activity
            android:name=".StudentFlow.SearchCompanies"
            android:label="@string/activity_search_companies"
            android:parentActivityName=".StudentFlow.CompaniesFavouritesActivity"
            android:theme="@style/ActionBarTheme"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StudentFlow.CompaniesFavouritesActivity" />
        </activity>
        <activity
            android:name=".CompanyFlow.StudentsFavouritesActivity"
            android:label="@string/title_activity_students_favourites"
            android:theme="@style/ActionBarTheme" >
        </activity>
        <activity
            android:name=".CompanyFlow.SearchStudents"
            android:label="@string/activity_search_students"
            android:parentActivityName=".CompanyFlow.StudentsFavouritesActivity"
            android:theme="@style/ActionBarTheme"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CompanyFlow.StudentsFavouritesActivity" />
        </activity>
        <activity
            android:name=".AlertStudentOrCompany"
            android:label="@string/app_name"
            android:parentActivityName=".LoginActivity"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>

        <service
            android:name=".s3client.network.NetworkService"
            android:exported="false" />

        <activity
            android:name=".StudentFlow.MainStudentActivity"
            android:label="@string/title_activity_main_student" >
        </activity>
        <activity
            android:name=".StudentFlow.SearchActivity"
            android:label="@string/title_activity_search"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".StudentFlow.InfoWrapperActivity"
            android:label="@string/title_activity_info_wrapper" >
        </activity>
        <activity
            android:name=".CompanyFlow.CompanyProfileActivity"
            android:label="@string/title_activity_main_student"
            android:theme="@style/ActionBarTheme" >
        </activity>
        <activity
            android:name=".CompanyFlow.OffersProposed"
            android:label="@string/title_activity_offers_proposed"
            android:theme="@style/ActionBarTheme" >
        </activity>
        <activity
            android:name=".CompanyFlow.JobOfferCreation"
            android:label="@string/title_activity_job_offer_creation"
            android:parentActivityName=".CompanyFlow.OffersProposed"
            android:theme="@style/ActionBarTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CompanyFlow.OffersProposed" />
        </activity>
        <activity
            android:name=".CompanyFlow.OfferEditActivity"
            android:label="@string/title_activity_offer_edit_activity"
            android:parentActivityName=".CompanyFlow.JobOfferCreation"
            android:theme="@style/ActionBarTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CompanyFlow.JobOfferCreation" />
        </activity>
        <activity
            android:name=".CompanyFlow.OfferShowActivity"
            android:label="@string/title_activity_offer_show"
            android:parentActivityName=".CompanyFlow.OffersProposed"
            android:theme="@style/ActionBarTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CompanyFlow.OffersProposed" />
        </activity>
        <activity
            android:name=".StudentFlow.OffersListsActivity"
            android:label="@string/title_activity_offers_lists"
            android:theme="@style/ActionBarTheme" >
        </activity>
        <activity
            android:name=".StudentFlow.SearchOffer"
            android:label="@string/title_activity_search_offer"
            android:theme="@style/ActionBarTheme"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StudentFlow.OffersListsActivity" />
        </activity>
    </application>

</manifest>
